/* --------General-------- */

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    background-color: #fee2e2;
}

main {
    background-color: rgb(255, 255, 255);
    grid-area: main;
    width: 80%;
    overflow: hidden;
    margin: auto;
}

/* --------Header-------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .7rem;
    background-color: #ffffff;
    grid-area: header;
    width: 80%;
    margin: auto;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 2;
}

header .logo {
   
    width: 200px;
    margin-right: auto; /* Agrega un margen derecho automático para empujar el logo a la izquierda */
 }



nav {
    overflow: hidden;
}

/*.botonregistro {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    font-size: 2%;

}*/
.login-text{
    color: #ffffff;
}
.login-text:hover{
    color: #7e7e7e;
}
.btn {
    background-color: #f6b4b1;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #fff;

}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 0.7rem;
    
}

.nav-list a {
    display: flex;
    font-size: 1em;
    text-decoration: none;
    color: #7e7e7e;
    padding: 10px
}

.nav-list a:hover {
    color: #f8b1b0;
    border: 1px solid #f8b1b0;
    border-radius: .5rem;
}

.abrir-menu {
    display: none;
}

.cerrar-menu {
    display: none;
}

#boton-registro {
    background-color: #f8b1b0;
    color: #fff;
    border-radius: 10px;
    transition: all 0.5s ease;
}

#boton-registro:hover {
    background-color: #fff;
    color: #f8b1b0;


}

/* estilos msj informativo de contacto */

#msj{
    border: 2px solid black;
    color: white;
    background-color: red;
    border-radius: 4px;
}

@media screen and (max-width:600px) {

    header,
    main,
    footer,
    .footer {
        width: 100%;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.8rem;
        background-color: transparent;
        cursor: pointer;
        color: rgb(86, 86, 86);
    }

    .nav {

        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        gap: 1rem;
        top: 0;
        right: 0;
        background-color: #f8b1b0;
        color: #ffffff;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.25);
        overflow: hidden;
        transition: height 1s ease;
        line-height: 2rem;

    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        color: rgb(255, 255, 255);
    }

    .nav-list a {
        color: #ffffff;
    }

    .nav-list a:hover {
        color: #797777;
        border: none;
    }


}

/* --------Seccion Introduccion + Seccion Jorge--------*/

#grid-contenedor {
    /*background-color: rgb(255, 255, 255);*/
    background-color: #fff5ee;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px 10px;
    width: 95%;
    margin-left: 5%;
    height: auto;
    margin-bottom: 32px;
}


#ver-tratamientos {
    margin: 5px;
    width: 115px;
    border-radius: 40px;
    background-color: #f8b1b0;
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    font-size: 1rem;
    outline: none;
    border: 0;
    display: grid;
    flex-direction: column;
}

#intro {
    margin: 5px;
    width: 30%;
    height: 35px;
    border-radius: 40px;
    background-color: #f6b4b1;
    color: #ffffff;
    text-align: center;
    padding: 6px 12px;
    font-size: 0.6em;
    outline: none;
    border: 0;
    display: grid;
    flex-direction: column;
}


#parrafo-intro {
    width: 90%;
    height: 300px;
    /*background-color: white;*/
    color: #000000;
    text-align: justify;
    padding: px 3px;
    font-size: 0.6rem;
    border: 0;
    display: grid;
    flex-direction: column;
}
#h1 {
    text-align: left;
    font-size: 20px;
}

#texto-intro{
    font-size: 16px;
    text-align: left;
}

#grid-intro {
    display: grid;
    flex-direction: column;
    grid-template-columns: auto;
    margin-bottom: 24px;
    background-color: #fff5ee;
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    background-image: url('foto-intro.png');
} 

 #container-introduccion {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    gap: 50px;
    margin: 0 36px 10px;
    padding: 20px;
}


/* --------seccion servicios-------- */

#carousel {
    font-size: 0.9em;
    display: flex;
    column-gap: 24px;
    width: 80%;
    height: auto;
    z-index: 1;
}

.item {
    display: flex;
    align-items: flex-end;
    width: 320px;
    height: 400px;
    background-size: cover;
    border-radius: 24px;
    color: black;
    text-align: bottom;
    flex-shrink: 0;
    overflow: hidden; 
    
    
}

.item p {
    text-align: center;
    margin: 0p;
    background: linear-gradient(to top, rgb(251, 172, 172) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    border-radius: 15px;
    width: 100%; 
  
}


.item:hover {
    border: 2.5px solid pink;
}

.item-1 {
    background-image: url('../img/facial1.png');
    
}

.item-2 {
    background-image: url('../img/laser1.png');
}

.item-3 {
    background-image: url('../img/rellenoFacial1.png');
}

.item-4 {
    background-image: url('../img/reflexogeno.png');
}

.item-5 {
    background-image: url('../img/Radiofrecuencia.png');
}

.item-6 {
    background-image: url('../img/acidoH-2.jpg');
}

#sec-servi p {
    font-size: 0.7em;
    padding: 10px;
}

#sec-servi {
    background-color: #fff5ee;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px 10px;
    width: 95%;
    margin-left: 5%;
    height: auto;
    margin-bottom: 32px;
}

#text-servi {
    font-size: 0.9em;
}

#carousel-container {
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.btn-style {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #f8b1b0;
    color:#f8b1b0;
}


.btn-style:hover {
    background-color: #f8b1b0;
    color: white;
}

#container-btn {
    display: flex;
    justify-content: space-between;
    /* centro horizontalmente */
    align-items: center;
    /* centro verticalmente */
    margin: 15px;
    margin-bottom: 20px;
    width: 100%;
}

#container-btn :last-child{
    margin-right: 16px;
}


/* --------seccion profesionales-------- */


.item-6 {
    background-image: url('../img/professional-1.jpg');
}

/*.item-7 {
    background-image: url('../img/professional-2.jpg');
}*/

.item-8 {
    background-image: url('../img/professional-3.jpg');
}

.item-9 {
    background-image: url('../img/professional-4.jpg');
}

#container-professionals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 24px;
}

.item_2 {
    position: relative; 
    width: 320px;
    height: 430px;
    padding-bottom: 20px;
    font-size: 1rem;
    color: white;
    overflow: hidden; 
    border-radius: 24px ;
}

.item_2 p {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding: 62px 32px 16px 16px;
    margin: 0;
    background: linear-gradient(to top, rgb(251, 172, 172) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: opacity 0.3s ease; 
    border-radius: 0;
}

.item_2:hover p {
    opacity: 1; 
}

#staff {
    background-color: #ffffff;
    width: 90%;
    text-align: center;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#staff h2 {
    width: 70%;
    font-size: 1.5rem;
    padding-top: 15px;
    margin: 16px;
    text-align: left;
}

/* -------- Contactanos -------- */

#contact {
    background-color: #fff5ee;
    width: 90%;
    text-align: center;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
}

#contact h2 {
    padding-bottom: 10px;
    text-align: left;
}

#contact label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

#contact input[type="text"],
#contact input[type="date"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#contact input[type="radio"] {
    margin-right: 5px;
    margin-bottom: 10px;
}

#contact button[type="submit"],
#contact button[type="reset"] {
    padding: 10px 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    background-color: #f8b1b0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact button[type="submit"]:hover,
#contact button[type="reset"]:hover {
    background-color: #fff;
    color: #f8b1b0;
    border: 1px solid #7e7e7e;
}


/* -------- Locales -------- */

#branch {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

#branch h2 {
    margin: 10px;
}

#branch p {
    margin: 5px;
    text-align: center;
}

#select-branch {
    margin: 10px;
    text-align: center;
}

#select-branch select {
    margin: 5px;
    border-radius: 10px;
    background-color: #f8b1b0;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    font-size: 1.2rem;
    outline: none;
    border: 0;
}

#select-branch option {
    font-size: 14px;
}

#mapa-branch {
    text-align: center;
}

#mapa-branch a {
    font-size: 18px;
    color: #f8b1b0;
    transition: color 0.3s;
    display: block;
}

#mapa-branch a:hover {
    color: #7e7e7e;
}

#branch iframe {
    width: 100%;
    height: 60vh;
    border: 0;
    border-radius: 10px;
}


/* -------- Footer -------- */

footer {
    background-color: #f8b1b0;
    grid-area: footer;
    width: 80%;
    margin: auto;
}


.container-footer {
    width: 100%;
    /* Extender el contenedor por todo el ancho de la pantalla */
    padding: 0 15px;
    /* Agregar relleno a los lados para mantener el contenido dentro del contenedor */
    box-sizing: border-box;
    /* Incluir el relleno en el ancho del contenedor */
    margin: 0 auto;
    /* Centrar horizontalmente el contenido */
    max-width: 1200px;

}

#reseña {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.footer-logo {
    margin-bottom: 15px;
    max-width: 180px;
}

.footer {
    background-color: #f8b1b0;
    padding: 50px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 15px 15px;

}

.footer-links:last-child {
    margin-left: auto;
}

.footer-links h4 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid oldlace;
    /*esto es la línea que subraya los titulos*/
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: rgb(144, 139, 142);
    padding-left: 6px;

}

.footer-links li {
    list-style: none;
}

@media (max-width: 991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

.social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 30px 30px 0 30px;
    border-top-left-radius: 10px;
    /* Radio para la esquina superior izquierda */
    border-top-right-radius: 10px;
}

.social-media a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #f8b1b0;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.social-media a:hover {
    background-color: #737373;
}

.copyrigth {
    font-size: 12px;
    background-color: #fff;
    color: #7e7e7e;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
    border-bottom-left-radius: 10px;
    /* Radio para la esquina superior izquierda */
    border-bottom-right-radius: 10px;

}

.whatsapp-link {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 9999; 
}

.whatsapp-link img {
    width: 70px; 
    height: auto;
    transition: filter 0.3s ease;
    
}
.whatsapp-link img:hover {
    width: 70px; 
    height: auto;
    filter: hue-rotate(90deg);
    
}
